:root{
	--width-nav: calc(100px + 4%);
}

nav{
	position: fixed;
	display: block;
	float: left;
	margin: 0;
	height: 100%;
	padding: 1.2%;
	border-right: 6px double #797979;
}

.navimages{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%; 
}

.navimages img{                         
	transition: all 0.8s;
	transition-timing-function: ease-out;
	filter: grayscale(100%);
}

.navimages img:hover{
	transform: scale(1.2) rotate(360deg);
	filter: grayscale(0%);
}

.navimages a::before{
	content: "";
	z-index: -1;
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	border: 10px solid transparent;
	border-right-color: #040404;
	margin-left: 2%;
	transition: all 0.7s;
	left: 20;
	transform: translateY(145%) translateX(-20px);
}

.navimages a::after{
	content: attr(data-title);
	position: absolute;
	opacity: 0;
	z-index: -1;
	transition: all 0.7s;
	font-family: 'Fira Sans', sans-serif;
	background-color: #040404;
	border-radius: 5px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0px 3px 3px #464646;
	left: 20;
	transform: translateY(50%);
}

.navimages a:hover::before{
	opacity: 1;
	transform: translateY(145%) translateX(108px);
	/*left: 128px;*/
}

.navimages a:hover::after{
	opacity: 1;
	transform: translateY(50%) translateX(130px);
	/*left: 150px;*/
}

header{
	padding: 1%;
	font-family: 'Train One', cursive;
	text-align: center;
	font-size: 5vw;
	margin-top: 0px;
	padding-top: 0px;
	border-bottom: 5px dashed #797979;
	text-shadow: 2px 2px 2px #b5b5b5;
}

header > a{
	position: absolute;
	top: 1%;
	right: 1%;
	color: black;
	font-family: 'Dancing Script', cursive;
	font-size: 0.3em;
}

header svg{
	position: absolute;
	width: 100%;
	top: 1%;
	right: 1%;
}

#line1{
	fill: rgba(0, 0, 0, 0);
	transform: translateX(100%);
}
#line2{
	fill: rgba(0, 0, 0, 0);
	transform: translateX(500%);
}
#line3{
	fill: rgba(0, 0, 0, 0);
	transform: translateX(1000%);
}

a:hover #line1{
	fill: #000;
	transform: translateY(0%);
}

a:hover #line2{
	fill: #ff7302;
	transform: translateY(0%);
}

a:hover #line3{
	fill: #000;
	transform: translateY(0%);
}

#line1, #line2, #line3{
	transition: 1.5s all ease;
}

article{
	margin: 2%;
	padding: 1%;
	border: 3px outset #797979;
	display: flex;
	justify-content: space-between;
}

/*article img{
	flex-grow: 1;
}

article span{
	flex-grow: 10;
}*/

article > span{
	flex-basis: 0;
	flex-grow: 5;
}

article > .cell{
	flex-basis: 0;
	flex-grow: 2;
	height: 281px;
	width: 500px;
}

.cell img{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	object-fit: cover;
}

main{
	margin: 0;
	padding: 0;
	margin-left: var(--width-nav);
}

main *{
	animation: fadein 3s;
    -moz-animation: fadein 3s; 
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s; 
}

@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

footer{
	border-top: 5px dashed #797979;
	padding: 1%;
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.1vw;
}

footer i{
	padding: 5px;
	padding-top: 8px;
	transition: all 0.5s ease-out;
	color: #000;
	font-size: 1.3em;
}

.tg:hover, .in:hover, .fb:hover, .rd:hover{
	transform: scale(1.4);
	text-shadow: 0px 2px 2px rgba(var(--color), 0.7);
	color: rgba(var(--color), 1);
}

.tg{--color: 0, 136, 204;}
.in{--color: 221, 42, 123;}
.fb{--color: 59, 89, 152;}
.rd{--color: 255, 67, 1;}

/*-------------------------------------weather-------------------------------------------------------------*/

h1{
	position: relative;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	font-size: 2em;
	overflow: hidden;
	z-index: -1;
}

h1::after{
	content: '';
    position: absolute;
    width: 100%;
    border-top: 3px solid #797979;  
    margin-top: .8em;
    margin-left: .4em;
}

#wcards{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	
}

#wcards span{
	margin: 5px;
	margin-top: 1%;
	width: 200;
	text-align: center;
	transition: 0.5s box-shadow;
	border-radius: 5px;
}

#wcards hr{
	margin: 1%;
}

#tableov{
	overflow-x: scroll;
}

table{
	border-collapse: collapse;
	margin-bottom: 2%;
	width: 100%;
}

table tr{
	height: 50px;
}

table td{
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	border-bottom: 2px solid #797979;
	border-left: 2px solid #797979;
	border-right: 2px solid #797979;
	text-align: center;
	padding: 10px;
}

table td:first-child, table th:first-child{
	border-left: none;
}

table td:last-child, table th:last-child{
	border-right: none;
}

table tr:last-child td{
	border-bottom: none;
}

table tr td:first-child{
	text-align: left;
}

table th {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	border-bottom: 2px solid #797979;
	border-left: 2px solid #797979;
	border-right: 2px solid #797979;
	text-align: center;
	padding: 10px;
}

/*-----------------------------------------------------------------------------------------------------------*/

p{
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	font-size: 1.6em;
}

h2{
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
}

h3{
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
}

a{
	color: #ff7302;
}

a:visited{
	font-style: cursive;
}

@media screen and (max-width: 600px), (max-device-width: 900px){
	header{
		margin-top: 4%;
	}
	
	header > a{
		font-size: .35em;
	}
	
	nav{
		bottom: 0px;
		height: 30px;
		width: 100%;
		border-top: 6px double #797979;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 1);
		/*backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);*/
		z-index: 1;
	}
	
	.navimages a:hover::before, .navimages a:hover::after{
		opacity: 0;
	}
	
	.navimages{
		flex-direction: row;
	}
	
	.navimages img{
		width: 43px;
		height: 43px;
		transition: none;
		filter: grayscale(0);
	}
	
	.navimages img:hover{
		transform: none;
	}
	
	main{
		margin: 0;
	}
	
	footer{
		margin-bottom: 50px;
	}
	
	h1{
		border-bottom: 3px solid #797979;  
	}
	
	h1::after{
		border: none;
	}
	
	a:hover #line1, a:hover #line2, a:hover #line3{
		fill: rgba(0, 0, 0, 0);
	}
}

@media screen and (max-width: 1000px){
	article{
		display: block;
	}
	
	.cell, .cell img{
		max-height: 100%;
		max-width: 100%;
	}
	
	header{
		font-size: 3em;
	}
	
	footer{
		font-size: 0.9em;
	}
	
	.rateblock i{
		font-size: 1.7em;
	}
	
	main .headtext{
		font-size: 1.5em
	}
	
	.columns .rateblock .mmm{
		overflow-x: scroll;
	}
}
